<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Lelouch Vie Britannia</string>
	<string>Lelouch Lamperouge</string>
	<string>ルルーシュ</string>
	<string>国籍：Britannian
国籍：Britannian国籍：Britannian
国籍：Britannian</string>
	<string>血型：B型</string>
	<string>生日：皇历2000年12月5日</string>
	<string>星座：射手座</string>
	<string>身高：178cm</string>
	<string>眼睛的颜色：紫/发动Geass时左眼为红色</string>
	<string>头发的颜色：黒</string>
	<string>弱点：娜娜莉</string>
	<string>特技：下棋、作战指挥、打瞌睡</string>
	<string>特殊能力：Geass (德语译为契约)</string>
	<string>别名：黒色王子、ZERO、鲁鲁（ルル）</string>
	<string>服装：黑色的衣服</string>
	<string>兴趣：读书</string>
</array>
</plist>
